.container{
    width: 1300px;
    margin: 0 auto;
}

.employee{
    background: #191919;
}

header{
    background: #191919;
}
main{
    background: #191919;

}

.database{
    background: #191919;
    padding: 200px 0 ;


}

.card{
    background: #191919;
}

footer{
    background: #191919;
    padding-top: 200px;
}