


.database{
    &__block{
        @include sed(flex, 220px);
        background: #000000;
        border-radius: 32px;
    }
    &__text p{
        @include font(400, 18px, 27px);
        font-style: normal;
        color: $birc;
        padding: 59px 0 0 60px;
    }
    &__text h2{
        @include font(400, 72px, 79px);
        font-style: normal;
        letter-spacing: 2.88px;      
        padding-left:60px;
    }    
    &__input{
        display: grid;
        padding-right: 60px;
    }
    &__input-two{
        margin-bottom: 20px;
        @include dim(522px, 82px, 6px);
    }
    &__input input{
        @include font(400, 24px, 29px);
        border:1px $gra solid ;
        font-style: normal;
        color: $rgb;
        padding-left: 19px;
        background: $gra;

    }    
    &__input-one{
        margin: 60px 0 20px;
        padding-left: 19px;
        @include dim(522px, 82px, 6px);
    }
    &__button{
        @include dim(87px, 48px, 6px);
        @include font(700, 15px, 29px);
        background:$birc ;
        font-style: normal;
        color: $rgb;
        margin-bottom: 40px;

    }
}
